<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Edit Profile | ThreadsIt</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

    <!--Edit profile card start-->
    <div class="card">
        <!-- <div class="card-image">
            <img src="1.png" alt="">
        </div> -->
        <div class="profile-image">
            <img src="<%=data[0].UserProfile.profileImageUrl%>" alt="">
        </div>
        <div class="card-content">
            <h3>Edit Profile</h3>
            <form action="/edit-profile/<%=data[0].randomizeInput()%>" method="post">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" name="name" value="<%=data[0].UserProfile.name%>" required>
                </div>
                <div class="input-box">
                    <span class="details">Date of Birth</span>
                    <input type="date" name="dateOfBirth" value="<%=data[0].UserProfile.getDate%>" required>
                </div>
                <div class="input-box">
                    <span class="details">Profile Image URL</span>
                    <input type="text" name="profileImageUrl" value="<%=data[0].UserProfile.profileImageUrl%>" required>
                </div>
                <div class="input-box">
                    <span class="details">Short Profile</span>
                    <textarea name="shortProfile" rows="4"  required><%=data[0].UserProfile.shortProfile%></textarea>
                </div>
                <div class="button">
                    <input type="submit" value="Save Changes">
                </div>
            </form>
        </div>
        <!-- <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-youtube"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-whatsapp"></a>
        </div> -->
    </div>
    <!--Edit profile card end-->

</body>

</html>